*{
    padding:0;
    margin: 0;
}
@media only screen and (min-width: 768px){
    .app{
        background-image: url("./icons/background.png");
        display: grid;
        width: 100vw;
      
    }
}